.login-button {
  width: 300px;
  font-size: 20px;
  height: 60px;
  border-radius: 25px;
  border: none;
  background-color: rgb(212, 81, 61);
  color: white;
  /* font-size: 40px; */
}

.login-button:hover {
  background-color: rgb(224, 120, 104);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.login-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
}

.account-type-button {
  font-size: 20px;
  width: 300px;
  height: 60px;
  border-radius: 25px;
  background-color: rgb(212, 81, 61);
  color: white;
  border: none;
  transition: box-shadow 0.3s ease;
}

.account-type-button:hover {
  background-color: rgb(224, 120, 104);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
