.header {
  background-color: rgb(212, 81, 61);
  color: white;
  height: 50px;
  overflow: hidden;
}

.header-text {
  margin-left: 20px;
  margin-bottom: 0px;
  font-size: 30px;

  /* font-weight: <weight>; */
  /* font-style: normal; */
}

.logout {
  /* width: 60px; */
  /* height: 30px; */
  /* background-color: white; */
  /* border: 1px solid black; */
  /* border-radius: 5px; */
  /* margin-top: 10px; */
}

.username {
  /* margin-left: 30px;
  margin-top: 10px; */
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-left: 1px solid white;
  background-color: rgb(212, 81, 61);
  height: 100%; /* Ensures full height of the parent */
  min-height: 50px; /* Ensures it matches the height of the .header */
}

.username-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.button-section:hover {
  background-color: rgb(224, 120, 104);
  cursor: pointer;
}
