.NavbarContainer {
  height: 70px;
  display: flex;
  /* width: 100vw; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d2ddfd;
  padding: 10px 0;
  /* //Drop shadow */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-wrap: nowrap;
}

.NavbarTitle {
  color: black;
  position: absolute;
  left: 0;
  font-size: 2rem;
  margin: 0 10px;
}

.ButtonSection {
  display: flex;
  position: absolute;
  right: 0;
}

.ButtonSection h1 {
  color: white;
  font-size: 1.1rem;
  align-self: center;
  margin: 0 10px
}

.NavButton {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 80px;
  margin-right: 10px;
  border: none;
  border-radius: 25px;
  color: black;
  background-color: var(--secondary-color); 
  position: relative;
  overflow: hidden; 
  z-index: 1;
}

.NavButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; 
  height: 100%;
  width: 0; 
  background-color: #f3e9dc;
  z-index: -1; 
  transition: width 0.3s ease; 
}

.NavButton:hover::before {
  width: 100%; 
}


@media screen and (max-width: 700px) {
  .ButtonSection h1 {
    display: none;
  }
}
