.profile-container {
  width: 100%;
  height: calc(100vh - 50px);
  padding: 50px 30px 0px 30px;
}

.profile-header {
  text-align: center;
}

.profile-data {
  border: 2px solid black;
}
