* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  line-height: 1.6;
}

body {
  background: var(--background-color);
  margin: 0;
}

:root {
  --background-color: #FBFBFC;
  --primary-color: #4D68B9;
  --secondary-color: #97ABE6;
  --accent-color: #5E82ED;
  --text-color: #09090A;
}