* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1.2;
}

body {
  background: var(--background-color);
  margin: 0;
}

:root {
  --background-color: #fbfbfc;
  --primary-color: #4d68b9;
  --secondary-color: #97abe6;
  --accent-color: #5e82ed;
  --text-color: #09090a;
}
